/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .metabox-cat {
    padding: 2% 0;
}
div#beneficio-fechas {
    padding: 2% 0;
}
.date-field{
    margin-bottom: 1%;
}
.remove-date{
    cursor: pointer;
}
#export-beneficios{
    padding: 1% 0 0 0;
}
table.table-metabox {
    max-width: 100%;
    text-align: left;
}
td.beneficio-field {
    max-width: 250px;
    padding: 1.5% 0.5%
}
td.beneficio-field .regular-text {
    max-width: 100% !IMPORTANT;
}